{% extends "base/base.html" %}

{% load static %}

{% block header %}
<header class="site-header navbar">
  <div class="content max-width">
    <a href="{% url 'index' %}">
      <img class="logo" src="{% static 'assets/logo.svg' %}" alt="hirestaurant Logo">
    </a>

    <nav>
      <ul class="navbar">
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'recommend' user.pk %}">추천</a>
        </li>
        {% endif %}
        <li>
          <a href="{% url 'restraunt_list' %}" >맛집검색</a>
        </li>
        <li>
          <a href="{% url 'review' %}"> 리뷰보기</a>
        </li>

        
        
        {% if user.is_authenticated %}
          <!-- {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">관리자</a></li>
          {% endif %} -->

          <!-- <li><a href="{% url 'profile' user.id %}">내 프로필</a></li>
          <li><a href="{% url 'account_logout' %}">로그아웃</a></li> -->
          <li><div class="cp-avatar" style="background-image: url('{{ user.profile_pic.url }}')"></div></li>
        {% else %}
          <li><a href="{% url 'account_login' %}">로그인</a></li>
          <li><a href="{% url 'account_signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>
{% endblock header %}

{% block footer %}
<footer class="site-footer">
  <div class="max-content-width content">
    <div></div>
    <div>Hi!hirestaurant</div>
  </div>
</footer>
{% endblock footer %}

{% block basejs %} 
{% if user.is_authenticated %}
  <script>
    const isAdmin = {{ user.is_staff|yesno:"true,false" }};
    const profileURL = "{% url 'profile' user.id %}";
    const logoutURL = "{% url 'account_logout' %}";
    const adminURL = "{% url 'admin:index' %}"
  </script>
  <!-- 새로운 블록을 만든 이유는 jsblock이 많기 때문에 기존 js과 충돌할 가능성이 있기 떄문에 분산  -->
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  <script src="{% static 'js/profileMenu.js' %}"></script>
{% endif %}
{% endblock basejs %}