{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/theme.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}">
    <link
    rel="stylesheet"
    href="https://unpkg.com/tippy.js@6/themes/light.css">
    <script src="{% static 'jquery/code.jquery.com_jquery-3.7.1.min.js' %}"></script>


    <title>{% block title %}Hi!restaurant{% endblock title %}</title>
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block slidejs %}{% endblock slidejs %}
    {% block modaljs %}{% endblock modaljs %}
    {% block basejs %} {% endblock basejs %} 
    {% block js %} {% endblock js %}  
    {% block likejs %} {% endblock likejs %}
    {% block mapjs %}{% endblock mapjs %}
  </body>
</html>
