{% extends "base/base_with_navbar.html" %}

{% load static %}

{% block content %}
<main class="site-body index">
  <div class="main-header">
    <div class="fg"></div>
    <div class="content">
      <h1> 오늘 날씨엔 뭐가 맛있을까?</h1>
      <h1> 신개념 날씨별 맛집 추천시스템 </h1>
      <h1> Hi! Restaurant! </h1>
    </div>
  </div>
  <div class="index-list max-content-width">
    <!-- <div class="header">
      <h1>날씨별로 음식을 추천해준다고?</h1>
    </div> -->
    <div class="contents">
      <dl>
        <dl>
          <dt>
            <h1>날씨별로 음식을 추천해준다고?</h1>
          </dt>
          <dt>
            <h2>점심시간 때마다 매번 뭘 먹어야할지 고민한다면</h2>
          </dt>
          <dt>
            <h2>북마크하거나 찜한 식당 뿐만 아니라 날씨에 따라 식당과 음식을 추천해드립니다! </h2>
          </dt>
        </dl>
      </dl>
      <div class="sidecontents">
        <figure>
          <img src="{% static 'assets/emoji-banner.png' %}" alt="">
        </figure>
        <div class="btn-sec">
          <a href="#" class="cp-button">추천 받으러가기</a>
          <a href="{% url 'restraunt_list' %}" class="cp-button"> 식당 검색하러 가기</a>
        </div>
      </div>


    </div>

  </div>
  <div class="slider-container">
    <div class="header">
      <h1>음식 사진 슬라이드</h1>
    </div>
    <div class="marquee-container">
      <div class="marquee">
        <ul>
          {% for review in reviews %}
          <li>
            {% if review.image1 %}
            <img src="{{ review.image1.url }}" alt="{{ review.title }}">
            {% else %}
            <img src="http://placehold.it/500x500" alt="{{ review.title }}">
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock content %}

{% block slidejs %}

<script src="{% static 'marquee/jquery.marquee.min.js' %}"></script>

<script>
  $(document).ready(function () { 
    $('.marquee').marquee({
      duration: 55000, // 이미지 전환 간격 (밀리초), 10초로 설정
      direction: 'left', // 이미지 슬라이드 방향 (왼쪽으로 이동)
      duplicated: true, // 이미지를 무한 루프할지 여부
      startVisible: true, // 첫 번째 이미지를 화면에 보이게 함  
      pauseOnHover: true, // 마우스 호버 시 애니메이션 일시 중지
    });

  });


</script>
{% endblock slidejs %}

{% block js %}
<script src="{% static 'js/navAction.js' %}"></script>
<script>
  const isAuthenticated = '{{ user.is_authenticated }}' === 'True';
</script>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock js %}