{% extends "base/base_with_header.html" %}


{% load static %}

{% block title %}{{ restaurant.restaurant_name }} | HI!RESTAURANT{% endblock title %}

{% block content %}
<div class="detail-content">
    <div class="image_detail">
        <figure>
            <img src="{{ restaurant.restaurant_image1.url }}" alt="">
        </figure>
    </div>
    <div class="place_details">
        <h2 class="place-name">{{ restaurant.restaurant_name }}</h2>
        <div class="category_section">
            <div><a href="#">카테고리</a></div>
            <div><a href="#">후기</a></div>
        </div>
    </div>
    <div class="details_placeinfo">
        <div class="sub-title"><span class="tit_subject">상세정보</span></div>

        <div class="placeinfo_default">
            <h4 class="tit_detail">
                <span class="ico_comm ico_address">위치</span>
            </h4>
            <div class="location_detail">
                <span>서울 종로구 삼청로 22-31 1층 (우)03062</span>
            </div>
        </div>

        <div class="placeinfo_default">
            <div class="tit_detail">
                <div class="ico_comm ico_operation">
                    운영시간 안내
                </div>
            </div>
            <div class="location_detail">
                평일 5시
            </div>
        </div>

        <div class="placeinfo_default">

            <div class="tit_detail">
                <div class="ico_comm ico_hompage">
                    홈페이지
                </div>
            </div>

            <div class="location_detail">
                <div class="location_present">
                    <a href="#" target="_blank" class="link_hompage">잉스타</a>
                </div>
            </div>
        </div>

        <div class="placeinfo_default">
            <h4 class="tit_detail">
                <span class="ico_comm ico_contact">
                    연락처
                </span>
            </h4>
            <div class="location_detail">
                저나버노
            </div>
        </div>

        <div class="placeinfo_default">
            <h4 class="tit_detail">
                <span class="ico_comm ico_tag">
                    태그
                </span>
            </h4>
            <div class="location_detail">
                <div class="txt_tag">
                    <span>#태그</span>
                </div>
            </div>
        </div>
        <div class="placeinfo_default">
            <h4 class="tit_detail">
                <span class="ico_comm ico_delivery">
                    예약,배달,포장
                </span>
            </h4>
            <div class="location_detail">
                예약가능,배달불가,포장가능
            </div>

        </div>
    </div>
</div>
<div class="detail-content menu-info">
    <div class="gallary-list">

        <div class="particular_head">
            <h3 class="tit_subject">메뉴</h3>
        </div>
        <ul class="list_menu">
            <li>
                <div>
                    <span class="list-content">까눌레</span>
                    <span class="list-content">3000원</span>
                    <span class="list-content text-last">양심 안드로메다로 보내셨나요?</span>
                </div>
                <div><img src="{% static 'img/까눌레.png' %}" alt=""></div>
            </li>
            <li>
                <div>
                    <span class="list-content">까눌레</span>
                    <span class="list-content">3000원</span>
                    <span class="list-content text-last">양심 안드로메다로 보내셨나요?</span>
                </div>
                <div><img src="{% static 'img/까눌레.png' %}" alt=""></div>
            </li>
            <li>
                <div>
                    <span class="list-content">까눌레</span>
                    <span class="list-content">3000원</span>
                    <span class="list-content text-last">양심 안드로메다로 보내셨나요?</span>
                </div>
                <div><img src="{% static 'img/까눌레.png' %}" alt=""></div>
            </li>
            <li>
                <div>
                    <span class="list-content">까눌레</span>
                    <span class="list-content">3000원</span>
                    <span class="list-content text-last">양심 안드로메다로 보내셨나요?</span>
                </div>
                <div><img src="{% static 'img/까눌레.png' %}" alt=""></div>
            </li>
        </ul>

        <div class="review-more">
            <a class="cp-ic-button after circle morereview" href="{% url 'restaurant_reviews' restaurant.id %}">해당 가게 리뷰
                모두 보러가기</a>
        </div>
    </div>


</div>
<div class="detail-content">
    <div class="gallary-list map-list">
        <div class="particular_head">
            <h3 class="tit_subject">지도</h3>
        </div>
        <div id="map" style="width:500px;height:400px;">
        </div>
    </div>
</div>
{% endblock content %}

{% block mapjs %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b1ee41063a1890e725cd96f2e8712948"></script>
<script>
// 식당 정보를 가져와서 restaurants 배열에 저장합니다.
var restaurants = [
    {% for restaurant in restaurant_list  %}
    {
        name: "{{ restaurant.restaurant_name }}",
        image: "{{ restaurant.restaurant_image1.url }}",
        restaurantLink: "{{ restaurant.review.restaurant_link }}",
        address: "{{ restaurant.address }}",
        lat: {{ restaurant.latitude }},
        lng: {{ restaurant.longitude }}
    },
    {% endfor %}
];


// 첫 번째 식당의 위치를 중심으로 지도를 생성합니다.
var mapOption = {
    center: new kakao.maps.LatLng(restaurants[0].lat, restaurants[0].lng),
    level: 3 // 지도의 확대 레벨
};

var mapContainer = document.getElementById('map'); // 지도의 중심좌표
var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 각 식당에 대한 마커와 커스텀 오버레이를 생성합니다.
var overlays = []; // 오버레이 배열을 초기화합니다.

restaurants.forEach(function (restaurant) {
    var content = `
    <div class="wrap">
        <div class="info">
            <div class="title">
                ${restaurant.name}
                <div class="close" onclick="closeOverlay()" title="닫기"></div>
            </div>
            <div class="body">
                <div class="img">
                    <img src="${restaurant.image}" width="73" height="70">
                </div>
                <div class="desc">
                    <div class="ellipsis">주소: ${restaurant.address}</div>
                    <div><a href="${restaurant.restaurantLink}" target="_blank" class="link">홈페이지</a></div>
                </div>
            </div>
        </div>
    </div>
    `;

    var overlay = new kakao.maps.CustomOverlay({
        content: content,
        map: map,
        position: new kakao.maps.LatLng(restaurant.lat, restaurant.lng)
    });

    overlays.push(overlay); // 오버레이를 배열에 추가

    // 해당 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
    kakao.maps.event.addListener(overlay, 'click', function () {
        overlay.setMap(map);
    });
});

// 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
function closeOverlay() {
    overlays.forEach(function (overlay) {
        overlay.setMap(null);
    });
}
</script>
{% endblock mapjs %}
