{% extends "base/base_with_navbar.html" %}


{% load static %}

{% block content %}
<main class="site-body">
    <div class="main-header">
        <div class="fg"></div>
        <div class="content">

            <h1>맛집 리스트</h1>

            <div class="header-search">
                <form class="search-form" action="#" method="get">
                    <input class="search-input" name="query" type="text" placeholder="식당, 음식 등을 검색해보세요" required>
                    <button class="cp-button search-button" type="submit">검색</button>
                </form>
            </div>


        </div>
    </div>

    <div class="content-wrap">
        <div class="content-list max-content-width">
            <div class="header">
                <h2>식당 목록</h2>

            </div>
            <div class="contents">
                {% for restaurant in restraunt_list %}

                <section class="cp-card content">
                    <a href="{% url 'restaurant_detail' restaurant.id  %}">
                        <div class="thumb restraunt_thumb"
                            style="background-image: url('{{ restaurant.restaurant_image1.url }}');"></div>
                    </a>
                    <div class="body">
                        <a href="#">
                            <h2 class="title list-title">{{ restaurant.restaurant_name }}</h2>
                        </a>
                        <a href="#">
                            <span class="cp-chip green">맛집</span>
                        </a>
                        <!-- <date class="date">#</date> -->
                        <div class="address-section">{{ restaurant.address}}</div>
                        <div class="short-review">
                            <p>리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰리뷰</p>
                        </div>
                        <div class="metadata list-metadata">

                            <div class="review-rating">
                                ★★★
                            </div>
                            <div>
                                {% if user.is_authenticated %}
                                <form method="post" action="{% url 'bookmark' restaurant.id %}" >
                                    {% csrf_token %}
                                    {% if restaurant.id in bookmarked_restaurants %}
                                    <button type="submit" class="toggle-bookmark unbookmark-button">북마크 해제</button>
                                    {% else %}
                                    <button type="submit" class="toggle-bookmark bookmark-button">북마크하기</button>
                                    {% endif %}
                                </form>
                                {% endif %}
                            </div>
                    </div>
                </section>

                {% empty %}
                <p class="empty">아직 식당 정보가 없습니다</p>
                {% endfor %}

            </div>
</main>



{% endblock content %}

{% block js %}
<script src="{% static 'js/navAction.js' %}"></script>
<script src="{% static 'js/auth.js' %}"></script>
{% endblock js %}