{% extends "base/base_with_navbar.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}{{ review.title }} | HI!RESTAURANT{% endblock title %}

{% block content %}
<main class="site-body">
    <article class="review-detail max-content-width">
        <div class="review-info">
            <div class="restaurant-name">

                <span class="cp-chip green">{{ review.restaurant_info.restaurant_name }}</span>
            </div>
            <h1 class="title">{{ review.title }}</h1>
            <div class="author">
                <a class="review-author" href="{% url 'profile' review.author.id %}">
                    <div class="cp-avatar" style="background-image: url('{{ review.author.profile_pic.url }}')"></div>
                    <span>{{ review.author.nickname }}</span>
                </a>
            </div>
            <date class="date">{{ review.dt_created|date:"Y년 n월 j일"}}</date>
            <div class="review-rating">
                <span class="cp-stars">
                    {% for i in ""|ljust:review.rating %}
                    ★
                    {% endfor %}
                </span>
            </div>
        </div>

        <div class="content">
            <!-- <img class="thumb" src="{{ review.image1.url}}">
            {% if review.image2 %}
            <img class="thumb" src="{{ review.image2.url}}">
            {% endif %}
            {% if review.image3 %}
            <img class="thumb" src="{{ review.image3.url}}">
            {% endif %} -->
            <div class="carousel">
                <div class="images">
                    <img class="full" src="{{ review.image1.url }}">
                    {% if review.image2 %}
                    <img class="full hidden" src="{{ review.image2.url }}">
                    {% endif %}
                    {% if review.image3 %}
                    <img class="full hidden" src="{{ review.image3.url }}">
                    {% endif %}
                    <img class="carousel-button prev" src="{% static 'icons/ic-prev.svg' %}">
                    <img class="carousel-button next" src="{% static 'icons/ic-next.svg' %}">
                </div>
            </div>

            <!-- 썸네일  -->
            <div class="thumbnails">
                <img class="thumb_img" src="{{ review.image1.url }}" data-index="0">
                {% if review.image2 %}
                <img class="thumb_img inactive" src="{{ review.image2.url }}" data-index="1">
                {% endif %}
                {% if review.image3 %}
                <img class="thumb_img inactive" src="{{ review.image3.url }}" data-index="2">
                {% endif %}
            </div>
            <!-- 썸네일 끝  -->

            <p class="content">{{ review.content|linebreaksbr }}</p>
            <a class="location" target="_blank" href="{{ review.restaurant_link }}">
                <img class="cp-icon" src="{% static 'icons/ic-pin.svg' %}" alt="Pin Icon">
                <span>위치보기</span>
            </a>
        </div>


        <div class="like-comment-block">
            <div class="like-comment-header">
                {% if user.is_authenticated %}
                <!-- 만약 로그인이 되었으면 좋아요 누르는 폼을 보여주고 -->
                <form action="{% url 'process-like' review_ctype_id review.id %}" method="POST" class="like-form">
                    {% csrf_token %}
                    <button class="like-button" type="submit">
                        {% if likes_review %}
                        <img class="like-icon" width="21px" src="{% static 'icons/ic-heart-filled.svg' %}"
                            alt="filled like-icon">
                        {% else %}
                        <img class="like-icon" width="21px" src="{% static 'icons/ic-heart.svg' %}" alt="like-icon">
                        {% endif %}
                        <span class="like-count"> 좋아요 {{ review.likes.count }}</span>
                    </button>
                </form>
                {% else %}

                <!-- 로그인이 안되어 있으면 좋아요가 얼마나 올라갔는지만 보여준다 -->
                <a class="like-button" href="{% url 'account_login' %}?next={% url 'review-detail' review.id %}"
                    data-login-required>
                    <img width="21px" src="{% static 'icons/ic-heart.svg' %}" alt="like-icon">
                    <span> 좋아요 {{ review.likes.count }}</span>
                </a>
                {% endif %}
                <div class="comment-info">
                    <img src="{% static 'icons/ic-comments.svg' %}" alt="comment icon">
                    <span> 댓글 {{ review.comments.count }}</span>
                </div>
            </div>

            <form class="comment-create-form" action="{% url 'comment-create' review.id %}" method="post">
                {% csrf_token %}
                {{ form.content|attr:"placeholder:댓글 내용을 입력해주세요."|add_class:"comment-input" }}
                <button class="cp-button small" type="submit" data-login-required>등록</button>
            </form>


            <div class="comment-list">
                {% for comment in review.comments.all %}
                <div class="comment">
                    <div class="comment-header">
                        <a href="{% url 'profile' comment.author.id %}">
                            <div class="author">
                                <div class="cp-avatar"
                                    style="background-image: url('{{ comment.author.profile_pic.url }}')"></div>
                                <span>{{ comment.author.nickname }}</span>
                            </div>
                        </a>
                        {% if user == comment.author %}
                        <div class="buttons">
                            <a href="#">삭제</a>
                            <span> | </span>
                            <a href="{% url 'comment-update' comment.id %}">수정</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="comment-content">
                        {{ comment.content|linebreaksbr }}
                    </div>
                    <div class="comment-footer">
                        <div class="comment-date">
                            {% if comment.edited %}
                            수정됨 ({{ comment.dt_updated|date:"Y년 n월 j일" }})
                            {% else %}
                            {{ comment.dt_created|date:"Y년 n월 j일" }}
                            {% endif %}
                        </div>

                        {% if user.is_authenticated %}
                        <!-- 만약 로그인이 되었으면 좋아요 누르는 폼을 보여주고 -->
                        <form action="{% url 'process-like' comment_ctype_id comment.id %}" method="POST">
                            {% csrf_token %}
                            <button class="like-button" type="submit">
                                {% if comment in liked_comments %}
                                <img class="like-icon" width="21px" src="{% static 'icons/ic-heart-filled.svg' %}"
                                    alt="filled like-icon">
                                {% else %}
                                <img class="like-icon" width="21px" src="{% static 'icons/ic-heart.svg' %}"
                                    alt="like-icon">
                                {% endif %}
                                <span class="like-count"> 좋아요 {{ comment.likes.count }}</span>
                            </button>
                        </form>
                        {% else %}
                        <!-- 로그인이 안되어 있으면 좋아요가 얼마나 올라갔는지만 보여준다 -->
                        <a class="like-button" href="{% url 'account_login' %}?next={% url 'review-detail' review.id %}"
                            data-login-required>
                            <img width="21px" src="{% static 'icons/ic-heart.svg' %}" alt="like-icon">
                            <span> 좋아요 {{ comment.likes.count }}</span>
                        </a>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="footer">
            <a class="back-link" href="{% url 'review' %}">&lt; 목록으로</a>

            {% if review.author == user %}
            <div class="delete-btn">
                <a class="cp-button warn">삭제</a>
                <a class="cp-button secondary" href="{% url 'review-update' review.id %}">수정</a>
            </div>
            {% endif %}
        </div>
    </article>
    <div class="dim"></div>
    <div class="detail-wrap">
        <div class="detail-message">
            <p>삭제하시겠습니까?</p>
        </div>
        <div class="delete-buttons">
            <a class="d-btn" id="delete-button" data-review-id="{{ review.id }}">삭제</a>
            <a class="d-t-btn ">취소</a>
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}
<script src="{% static 'js/navAction.js' %}"></script>
<script>
    const isAuthenticated = '{{ user.is_authenticated }}' === 'True';
</script>
<script src="{% static 'js/auth.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"> </script>
{% endblock js %}


{% block modaljs %}
<script>
    const reviewId = {{ review.id|default:"0"|default:"0" }};
    const deleteBtn = document.querySelector('.cp-button.warn');
    const detailWrap = document.querySelector('.detail-wrap');
    const dim = document.querySelector('.dim');
    const cancelButton = document.querySelector('.d-t-btn');

    // 삭제 버튼 클릭 이벤트 핸들러
    deleteBtn.addEventListener('click', function () {
        // 딤 배경과 모달 활성화
        dim.style.display = "block";
        detailWrap.style.display = "block";
        detailWrap.classList.add("active");
    });

    // 취소 버튼 클릭 이벤트 핸들러
    cancelButton.addEventListener('click', function () {
        // 딤 배경과 모달 비활성화
        dim.style.display = "none";
        detailWrap.style.display = "none";
        detailWrap.classList.remove("active");
    });

    // 삭제 확인 버튼 클릭 이벤트 핸들러
    const confirmDeleteButton = document.querySelector('.d-btn');

    confirmDeleteButton.addEventListener('click', function () {
        // AJAX 요청 보내기

        const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value; // CSRF 토큰 가져오기

        // AJAX 요청 설정
        const xhr = new XMLHttpRequest();
        xhr.open('POST', `/reviews/${reviewId}/delete/`); // 삭제 뷰 URL 설정
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        // AJAX 요청 완료 시 처리
        xhr.onload = function () {
            if (xhr.status === 204) {
                // 삭제가 성공하면 페이지 리로드 또는 리다이렉트를 수행합니다.
                window.location.href = '/review_list/'; // 예시: 홈 페이지로 리다이렉트
            } else {
                // 삭제가 실패한 경우 처리
                console.error('삭제 실패');
            }
        };

        // AJAX 요청 보내기
        xhr.send();
    });



</script>

{% endblock modaljs %}

{% block likejs %}
<script>
    $(document).ready(function () {
        $('.like-button').on('click', function (e) {
            e.preventDefault();

            const button = $(this);
            const form = button.closest('form');
            const url = form.attr('action');
            const csrfToken = form.find('input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: url,
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },

                success: function (data) {
                    // 서버로 받은 데이터로 좋아요 카운트 업데이트 
                    const likeCount = form.find('.like-count');
                    likeCount.css('white-space', 'pre !important'); // white-space 스타일 설정
                    likeCount.text('좋아요 ' + data.like_count);
                    const likeCountBg = document.querySelector('.like-button, .comment-info');


                    // 버튼 이미지 업데이트

                    const likeIcon = form.find('.like-icon');
                    if (data.liked) {
                        likeIcon.attr('src', '{% static "icons/ic-heart.svg" %}');
                    } else {

                        likeIcon.attr('src', '{% static "icons/ic-heart-filled.svg" %}');
                    }

                },
                error: function (error) {
                    console.log('Error', error);
                }
            });
        });
    });

</script>
{% endblock likejs %}